<!DOCTYPE html>
<html lang="en">
<head>
	<title>Xdag</title>
	<meta charset="utf-8">
	<meta name="author" content="">
	<meta name="description" content="Appsa - Coming Soon Iphone Apps Website Template"/>

	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
    <script type="text/javascript" src="js/plugin.js"></script>
    <script type="text/javascript" src="js/countdown.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<section class="billboard">

		<div class="wrapper">

			<div class="iphone">
				<div class="slider_wrapper">
					<div id="slider">
						<img class="slides" src="img/xdag_pic1.jpg" alt=""/>
						<img class="slides" src="img/xdag_pic2.jpg" alt=""/>
						<img class="slides" src="img/xdag_pic3.jpg" alt=""/>
					</div>
				</div>
			</div>

			<div class="details">
				
				<h1><span class="bold">XDAG</span> xdag</h1>
				<p class="description">Dowmload Xdag to receive airdrop coin</p>
				<b class="description">123456789wxssbxixixix123123123123123123123123132</b>
				<div class="download_btn">
					<a href="/file/xdag.0.3.0.zip" target="_blank" class="ios_btn">
						<img src="img/ios_btn.png" alt="Available in the app store"/>
					</a>
					<span class="or">- or -</span>
					<a href="/file/android_wallet_release_v0.2.7.apk" target="_blank" class="android_btn">
						<img src="img/android_btn.png" alt="Available in the Android"/>
					</a>
				</div>
			</div>

		</div>

	</section>

	<footer>

		<div class="wrapper">


			<p class="copyrights">© 2021 <span class="bold">XDAG</span>  -  All Rights Reserved  -  </p>

			<div class="sm">
					<a href="#" class="twitter-follow-button" data-show-count="false">XDAG Wallet</a>
				
			</div>
		</div>

	</footer>

	

</body>
</html>